footer a {
    color: black;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
  }
  
  footer a:hover {
    text-decoration: none;
    cursor: pointer;
  }

.login-page-footer footer {
  background: none;
  padding: 20px 0;
  width: 100%;
  bottom: 0;
}

.login-page-footer {
  margin-right: 0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
}