@media (min-width: 1718px){
    .header-content {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    float: left;
    margin-left: 10%;
  }
  
.header-image {
    width: auto;
    height: auto;
    border-radius: 4%;
    max-width: 700px;
    align-items: center;
    margin: 13% 0% 0% 50%;
}

}

@media (min-width: 1718px) and (max-width:1870px){
    .header-content {
        margin-top: 7%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        float: left;
        margin-left: 10%;
      }
      
    .header-image {
        width: 650px;
        height: 650px;
        border-radius: 4%;
        max-width: 700px;
        align-items: center;
        margin: 11% 0% 0% 15%;
    }
}

@media (min-width: 1200px) and (max-width:1400px){
    .header-content {
    margin-top: 29%;
    display: flex;
    float: left;
    margin-left: 25%;
    width: 50%;
  }
  
.header-image {
    width: auto;
    height: 500px;
    border-radius: 4%;
    max-width: 650px;
    align-items: center;
    margin: 0% 0% 0% 3%;
}

}

@media (min-width: 1400px) and (max-width:1718px){
    .header-content {
    margin-top: 20%;
    display: flex;
    float: left;
    margin-left: 20%;
    width: 50%;
  }
  
.header-image {
    width: auto;
    height: 600px;
    border-radius: 4%;
    max-width: 700px;
    align-items: center;
    margin: 6% 0% 0% 10%;
}

}

@media (max-width: 1200px) {
    .header-content {
        width: 0px;
        height: 0px;
    }
    .header-image {
        width: 0px;
        height: 0px;
        opacity: 0%;
    }
}