.total-post-feed {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 2.5%;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 5%;
}



.post-feed::-webkit-scrollbar {
  display: none;
}

.post-feed {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 2.5%;
    height: 74vh;
    overflow: scroll !important;
    overflow-y: visible;
  }

  @media (max-height: 660px) {
    .total-post-feed {
      background-color: #ffffff;
      padding: 20px;
      border-radius: 10px;
      margin-top: 2.5%;
      overflow: hidden;
      padding-bottom: 10px;
      margin-bottom: 5%;
      height: 95%;
  }
  
  .post-feed {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 2.5%;
    height: 105vh;
    overflow: scroll !important;
    overflow-y: visible;
  }
  }
  
  .post {
    border: 1px solid #e9ecef;
    border-radius: 10px;
    margin-bottom: 20px;
    border: none;
    overflow: hidden;
  }
  
  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    border: none;
  }
  
  .post-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .post-image {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }
  
  .post-body {
    padding: 20px;
  }
  
  .post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

.post-header h5 {
  margin-bottom: 0px;
}

.post-header .btn {
  font-size: larger;
  color: orange;
  text-decoration: none;
}

.post-profile-info {
  display: flex;
}

.like-heart {
  cursor: pointer;
  color: #E6791C;
  vertical-align: sub;
  margin-right: 5px;
}

.like-heart:hover{
  --tw-text-opacity: 1;
  color: rgb(236, 165, 72);
}

.post-info-below {
  margin-left: 10px;
  cursor: pointer;
  color: black !important;
  text-decoration: none !important;
}

.post-info-dot{
  vertical-align: middle;
}



.search-button-post-feed {
  background-color: #F2F2F2 !important;
  border-radius: 50% !important;
  margin-right: 2%;
  border: none !important;
}

.posts-static-header {
  display: flex;
  width: 100%;
  justify-content:space-between;
  flex-direction: row;
}

.posts-sort-by {
  border: none !important;
  background-color: #F2F2F2 !important;
  text-align: center;
}

.posts-type {
  display: flex;
  background-color: #F6F6F6;
  margin: 0% 2% 0% 2%;
  padding: 2% 2%;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.posts-type-current {
  display: flex;
  background-color: #FDF0E6;
  border: 2px solid #E6791C;
  margin: 0% 2% 0% 2%;
  padding: 2% 2%;
  text-align: center;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.posts-type-link {
  color: black !important;
  text-decoration: none !important;
  cursor: pointer;
}

.total-post-feed .row {
  margin-top: 1%;
}

.mobile-posts-header {
  display: none;
}

.mobile-comment {
  display: none;
}

.mobile-repost {
  display: none;
}

.mobile-navigator {
  display: none; 
}

.posts-secondary-header svg {
  vertical-align: middle;
}

@media (max-width : 600px) {
  .badge-view-all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobile-posts-header {
    display: flex;
    flex-direction: column;
  }
  .posts-secondary-header {
    margin-top: 5% !important;
  }
  .posts-sort-by {
    display: none !important;
  }

  .posts-type {
    display: flex;
    width: 100% !important;
    background-color: #F6F6F6;
    margin: 0% 2% 0% 2%;
    padding: 2% 2%;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .posts-type-current {
    display: flex;
    background-color: #FFC28F;
    border: none !important;
    margin: 0% 2% 0% 2%;
    padding: 2% 2%;
    text-align: center;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .posts-types {
    margin-top: 5% !important;
  }

  .total-post-feed {
    background-color: #ffffff;
    padding: 20px 0px 20px 0px;
    border-radius: 10px;
    margin-top: 2.5%;
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 5%;
}

.mobile-navigator {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --bs-gutter-x: 0rem;
  overflow-x: hidden !important;
}

.mobile-navi-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
}

.mobile-navi-icon-second {
  justify-content: right !important;
}

.mobile-navi-icon-fourth {
  justify-content: left !important;
}

.mobile-navi-icon-current {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E6791C;
}

.mobile-profile-image {
  width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.mobile-navi-icon-middle {
  border-radius: 50%;
  background-color: #E6791C;
  color: white;
  width: 40px;
  height: 40px;
  padding: 4%;
  display: flex;
  align-items: center;
}
}

@media (max-width: 460px){
  .like {
    display: block;
    height: 0px;
    width: 0px;
    opacity: 0;
  }
  .post-info-dot {
    display: none !important;
  }
  
  .mobile-comment {
    color: #E6791C;
    display:initial;
    margin-right: 5px;
  }
  
  .mobile-repost {
    color: #E6791C;
    display:initial;
    margin-right: 5px;
  }
  
  .repost-text {
    display: none;
  }
  
  .comment-text {
    display: none;
  }
}

@media (max-width : 535px) {
  .follow-plus-icon {
    display: none;
  }
}

@media (max-width : 420px) {
  .post-profile-info h5{
    font-size: 15px !important;
  }
  .post-profile-info h6{
    font-size: 15px !important;
  }
  .follow-button-text {
    font-size: 18px !important;
  }
  .post-profile-pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .post-header {
    padding: 0px 0px 5px 0px !important;
  }
}

@media (max-width : 363px) {
  .post-profile-info h5{
    font-size: 13px !important;
  }
  .post-profile-info h6{
    font-size: 12px !important;
  }
}

@media (max-width : 992px) and (min-width : 600px) {
  .post-hash-tags {
    
  }
  .sort-by-div {
    margin-top: 15px;
  }
  .posts-types {
    margin-top: 15px !important;
  }
}

.follow-text-icon {
  text-align: right !important;
}