a {
    color: orange;
}
  
a:hover {
    color: darkorange;
}

.btn-block {
    background: #E6791C;
    border: none;
}

.btn-block-req {
    background: #E6791C;
    border: none;
}

.btn-block-req:hover {
    background-color: rgb(177, 88, 4);
}

body {
    font-family: 'Work Sans';
}